/* début header */
body {
	margin: 0;
	padding: 0;
	background:#F0EAF5;

}
header {
	height: 50px;
	background-color: #f3e9f1;
	border-bottom: 1px solid #C5AADC;
}

ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 10%;
}

i{
	font-size: 20px;
	color: #7808D8;
}

li {
	list-style-type: none;
	line-height: 45px;
	font-weight: 900;
}

li:hover {
	background-color: #CFC3D9;
	cursor: pointer;
	border-bottom: 5px solid #7808D8;
	padding: 0 5px;
}
a:hover{
	text-decoration: none;
}
#total_article,.nombre_article{
	display: inline-block;
	width: 24px;
	height:24px;
	border-radius: 12px;
	background-color: red;
	color: #fff;
	line-height: 24px;
	text-align: center;
	font-size: 12px;
}

/* fin header */

/* Début section 1 */
img{
	object-fit: cover;
}
#nos-produits {
	max-width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	
}

/* Les cartes */
.carte_produit{
	width: 300px;
	height: 280px;
	background-color: #fff;
	border-radius:10px;
	margin-top: 40px;
	box-shadow: 2px 2px 5px #C890F7;
	transition: transform .5s;
	text-align: center;
}
.carte_produit:hover {
	cursor: pointer;
	transform: scale(1.1);
	box-shadow: 2px 2px 5px #000;

}
.image_produit {
	width: 100%;
	height: 240px;
	background-color: white;
	border-radius: 10px 10px 0 0;
}
.image_produit_mini {
	width: 60%;
	height: 50%;
	border-radius: 10px;
}
.nomEtprix_produit,.nomEtprix_produit_mini {
	width: 100%;
	height:40px;
	display: flex;
	justify-content: space-between;
	background-color: #000;
	color: #fff;
	border-radius: 0 0 10px 10px;
	padding: 0 6px;
	line-height: 40px;
	font-weight: 600;
}
.nomEtprix_produit_mini {
	border-radius: 0;
	background-color: grey;
}
/* page produit */

/* Aside */

.achat{
	width: 80%;
	margin: auto;
	background-color: #F2EDF6;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#selection {
	width: 300px;
	height: 280px;
	background-color: #fff;
	border-radius:10px;
	margin-top: 40px;
	box-shadow: 2px 2px 5px #C890F7;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

h2 {
	font-size: 14px;
	font-weight: 600;
	
}

select, input {
	outline: none;
	width: 80%;
	height: 40px;
	border-radius: 5px;
	background-color:#E0CBF1;
	text-align: center;
}
.ajouter_panier {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width:250px;
	height: 50px;
	border-radius: 20px;
	background-color:#E0CBF1;
	box-shadow: 2px 2px 5px #D3B0EF; 
	font-weight: 600;
	transition: transform .5s;
}
button:hover{
	box-shadow: 2px 2px 5px #000;
	transform: scale(1.05);
	cursor: pointer;
}

/* Page panier */

.recapitulatif{
	width: 80%;
	height: 100px;
	margin: 50px auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	background-color: #EEE2F8;
	
}
#recapitulatif{
	padding-left: 20%;
}
.h2{
	font-size:1.5rem;
	font-weight: 600;
	width: 20%;
	
}
.merci {
	text-align: center;
}
.carte_produit_mini{
	width: 200px;
	height: 180px;
	background-color: #fff;
	border-radius:10px;
	margin-top: 40px;
	box-shadow: 2px 2px 5px #C890F7;
	transition: transform .5s;
	text-align: left;
	margin-bottom: 20px;
}
.prix_total {
	text-align: center;
	background-color: #000;
	color: #fff;
	height: 40px;
	margin-top: 10px;
	border-radius: 0 0 10px 10px;
	line-height: 40px;
}

.recap {
	background-color: #D09BFC;
	text-align: center;
}

.resume {
	padding: 10px 0;
	background-color: #000;
	color:#fff;
	font-weight: 600;
	font-size: 2rem;
}
#votre_panier, #total_a_payer {
	
}
.formulaire {
	width: 80%;
	margin: 20px auto;
}
.formulaire label, .formulaire input {
	display: block;
	margin-left: 10%;
}
.formulaire input {
	margin: 10px auto 20px;
	transition: transform;
}

.formulaire input:focus{
	background-color: #fff;
	box-shadow: 2px 2px 5px #000;
	transform: scale(1.1);
}
#confirmer_commande,#accueil {
	margin: 20px auto;
	background-color: #000;
	color: #fff;
}

/* Validation du formulaire*/ 
input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 1px solid green;
} 

/* Page de commande */

.commande {
	text-align: center;
}
.confirmee {
	font-weight: 600;
	font-size: 1.5em;
	color:green;
}

#nom,#total_commande,#identifiant{
	font-size: 1.5rem;
	font-weight: 900;
}
#total_commande,#identifiant {
	color: red;
}