/* début header */
body {
	margin: 0;
	padding: 0;
	background:#F0EAF5;

}
header {
	height: 50px;
	background-color: #f3e9f1;
	border-bottom: 1px solid #C5AADC;
}

ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 10%;
}

i{
	font-size: 20px;
	color: #7808D8;
}


li {
	list-style-type: none;
	line-height: 45px;
	font-weight: 900;
}

li:hover {
	cursor: pointer;
	border-bottom: 5px solid #7808D8;
	padding: 0 5px;
}
a:hover{
	text-decoration: none;
}
#total_article,.nombre_article{
	display: inline-block;
	width: 24px;
	height:24px;
	border-radius: 12px;
	background-color: red;
	color: #fff;
	line-height: 24px;
	text-align: center;
	font-size: 12px;
}

/* fin header */

/* Début section 1 */
img{
	object-fit: cover;
}
#nos-produits {
	max-width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	
}

/* Les cartes */
.carte_produit,.carte_produit2{
	width: 300px;
	height: 280px;
	background-color: #fff;
	border-radius:10px;
	margin: 70px 20px;
	box-shadow: 2px 2px 5px #C890F7;
	transition: transform .5s;
	text-align: center;
}
.carte_produit:hover,.carte_produit2:hover {
	cursor: pointer;
	transform: scale(1.1);
	box-shadow: 2px 2px 5px #000;

}


.image_produit,.image_produit2 {
	width: 100%;
	height: 240px;
	background-color: white;
	border-radius: 0 0 10px 10px;
}
.image_produit2 {
	border-radius: 10px 10px 0 0;
}
.image_produit_mini {
	width: 60%;
	border-radius: 10px;
}
.nomEtprix_produit,.nomEtprix_produit2,.nomEtprix_produit_mini {
	width: 100%;
	height:40px;
	display: flex;
	justify-content: space-between;
	background-color: #000;
	color: #fff;
	border-radius: 10px 10px 0px 0px;
	padding: 0 6px;
	line-height: 40px;
	font-weight: 600;
}
.nomEtprix_produit2 {
	border-radius: 0px 0px 10px 10px ;
}


.nomEtprix_produit_mini {
	border-radius: 0;
	background-color: grey;
	margin-top: 10px;
}

.description {
	margin-top: 10px;
	color: #000;
	border-radius: 0 0 10px 10px;

}
/* page produit */

/* Aside */

.achat{
	width: 80%;
	margin: auto;
	background-color: #F2EDF6;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#selection {
	width: 300px;
	height: 280px;
	background-color: #fff;
	border-radius:10px;
	margin-top: 70px;
	box-shadow: 2px 2px 5px #C890F7;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

h2 {
	font-size: 14px;
	font-weight: 600;
	
}

select, input {
	outline: none;
	width: 80%;
	height: 40px;
	border-radius: 5px;
	background-color:#E0CBF1;
	text-align: center;
}
.ajouter_panier {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width:250px;
	height: 50px;
	border-radius: 20px;
	background-color:#E0CBF1;
	box-shadow: 2px 2px 5px #D3B0EF; 
	font-weight: 600;
	transition: transform .5s;
}
button:hover{
	box-shadow: 2px 2px 5px #000;
	transform: scale(1.05);
	cursor: pointer;
}

/* Page panier */

.recapitulatif{
	width: 80%;
	height: 100px;
	margin: 50px auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	background-color: #EEE2F8;
	
}
#recapitulatif{
	padding-left: 20%;
}
.h2{
	font-size:1.5rem;
	font-weight: 600;
	width: 20%;
	
}
#merci {
	text-align: center;
	color:red;
}
.carte_produit_mini{
	width: 200px;
	height: 180px;
	background-color: #fff;
	border-radius:10px;
	margin-top: 40px;
	box-shadow: 2px 2px 5px #C890F7;
	transition: transform .5s;
	text-align: left;
	margin-bottom: 20px;
	position: relative;
}
.prix_total {
	text-align: center;
	background-color: #000;
	color: #fff;
	height: 40px;
	margin-top: 10px;
	border-radius: 0 0 10px 10px;
	line-height: 40px;
}

.recap {
	background-color: #D09BFC;
	text-align: center;
}

.resume {
	padding: 10px 0;
	background-color: #000;
	color:#fff;
	font-weight: 600;
	font-size: 2rem;
}

.formulaire {
	width: 80%;
	margin: 20px auto;
}
.formulaire label, .formulaire input {
	display: block;
	margin-left: 10%;
}
.formulaire input {
	margin: 10px auto 20px;
	transition: transform;
	outline: none;
}

.formulaire input:focus{
	background-color: #fff;
	box-shadow: 2px 2px 5px #000;
	transform: scale(1.1);
	font-weight: 600;
}
#confirmer_commande,#accueil {
	margin: 20px auto;
	background-color: #000;
	color: #fff;
}

label span {
	color: red;
	
}
.nombre_article {
	position: absolute;
	top: 10px;
	left: 80px;
}
.btn_supprimer {
	width: 80px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background: red;
	color: #fff;
	position: absolute;
	top:55px;
	right: 0px;
	border-radius: 5px;
}
.btn_ajouter {
	width: 80px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background: green;
	color: #fff;
	position: absolute;
	top:10px;
	right: 0px;
	border-radius: 5px;
}

/* Page de commande */

.commande {
	text-align: center;
}
.confirmee {
	font-weight: 600;
	font-size: 1.5em;
	color:green;
}

#total_commande,#identifiant,.inputgras{
	font-size: 1.5rem;
	font-weight: 900;
}
#total_commande,#identifiant {
	color: red;
}

.message_erreur {
	color: red;
	margin: 5px auto;
	text-align: center;
}

/* Footer */
footer {
	background-color: #EED1F8;
	margin: 30px auto;
	color:#000;
	padding: 15px;
	text-align: center;
	border-top: 1px solid grey;
}
footer input {
	color:#000;
	font-size: 1.5rem;
	font-weight: 600;
}
footer h2 {
	background-color: grey;
	height: 30px;
	line-height: 30px;
	font-size: 2rem;
}
.cartes_footer{
	display: flex;
	justify-content: space-around;
}
.carte_footer {
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}
.carte_footer i {
	font-size: 300%;
	color: #5C037A;

}

.newsletter{
	width: 50%;
	margin: 10px auto;
	text-align: center;
}
#newsletter{
	width: 100%;
	margin-top: 20px;
	color: #000;
}

.reseaux {
	display: flex;
	justify-content: space-around;
	background-color: grey;
	height: 60px;
	line-height: 60px;
	margin-top: -10px;
	
}
.reseaux i{
	color: #fff;
	font-size:3rem;
	transition: transform .5s;
}

.contactez-nous a{
	color: #000;
	font-weight: 600;
	cursor: pointer;
}

.contactez-nous i{
	font-size: 3rem;
	color: #5C037A;
	margin-right: 20px;

}

footer i:hover{
		cursor: pointer;
		transform: scale(1.5);
		color: #000;
}
/* Medias queries */

@media screen and (max-width: 768px) {

/* header */
#mon_panier {
	width: 150px;
}
header nav ul li img{
	margin-left: -30px;
}

.newsletter {
	width: 100%;

}

.cartes_footer {
	flex-direction: column;

}
.carte_footer{
	width: 50%;
	padding-bottom: 10px;
	margin: 5px auto;
	border-bottom: 2px solid #fff;
}

}